<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="D:\FETEL_WorkDir\Y4S2_HeThongNhung\DE10_Standard_Audio\software\Audio_System\Audio_System.elf"/>
<stringAttribute key="modelSimPath" value="D:\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Audio_System.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Audio_System"/>
<stringAttribute key="spdPath" value="d:\FETEL_WorkDir\Y4S2_HeThongNhung\DE10_Standard_Audio\audio_system_tb.spd"/>
</launchConfiguration>
